@model IEnumerable<ProductListDTO>

<div class="container">

    @foreach (var item in Model)
    {
        <div class="row">
            <div class="col">@item.Id</div>
            <div class="col">@item.Name</div>
            <div class="col">@item.Price</div>
            <div class="col">@item.Details</div>
            <div class="col">@item.StockAmount</div>
            <div class="col">@item.CreatedAt</div>
            <div class="col">@item.Enabled</div>
            <div class="col">@item.CategoryId</div>
            <div class="col">@item.ProductImageCount</div>
            <div class="col">@item.ProductCommentCount</div>
        </div>
    }
</div>
