@model IEnumerable<ProductListDTO>
@{
    ViewData["Title"] = "List of Products";
}

<nav>
    <ol class="breadcrumb px-3">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Products</a></li>
        <li class="breadcrumb-item active">Project</li>
    </ol>
</nav>
<div class="row mb-5 p-3">

    <div class="col col-md-3 px-4">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="col col-md-9 d-flex justify-content-end end-sm">
        <form asp-controller="Home" asp-action="Listing" method="get" class="width d-flex search inputheight w-25">
            <input class="form-control me-2" type="text" placeholder="Ara">
            <button class="btn btn-outline-dark searchBtn my-2 my-sm-0" type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        @* <div class="form-group my-5">
        <label asp-for="CategoryId" class="control-label"></label>
        <div lass="dropdown border">
        <select asp-for="CategoryId" class="dropdown-item border p-2" asp-items="ViewBag.Category"></select>
        </div>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div> *@
        <form asp-controller="Home" asp-action="Listing" class="width w-25 ">
            <div class="d-flex justify-content-end">
                <div class="dropdown w-75">
                    <select class="dropdown-item border rounded p-3 inputheight"></select>
                </div>
                <button class="btn btn-outline-dark m-2 my-sm-0 inputheight" type="submit">
                    Filtrele
                </button>
            </div>
        </form>
    </div>
</div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th> </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Price)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Details)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.StockAmount)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedAt)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Enabled)
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @if (!Model.Any())
                    {
                        <tr>
                            <td class="alert alert-secondary p-4" colspan="12" role="alert">
                                <i class="fa-solid fa-exclamation"></i>
                                Görsterilecek ürününüz yok!
                            </td>
                        </tr>
                    }
                    else
                    {
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @* @if (!item.ProductImages.Any())
                            { *@
                                    <img src="https://via.placeholder.com/300x300" alt="Ürun resmi">
                                    @* }
                            else
                            {
                            <img src="/assets/img/@item.ProductImages[0].Url" height="100px;">
                            } *@
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Price)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Details)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.StockAmount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    <a class="text-light btn btn-sm btn-@(item.Enabled?"danger":"primary") btn-m"
                                        asp-action="Edit" asp-route-id="@item.Id"
                                        style="min-width: 95px !important;">@(item.Enabled
                                ? "Onayı Kladır" : "Onayla")</a>

                                    <a class="btn btn-sm btn-outline-danger btn-m" asp-action="Delete" asp-route-id="@item.Id"
                                        style="min-width: 95px !important;">Sil</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            <div class="container my-5">
                <div class="row">
                    <div class="col">
                        <nav aria-label="sayfalama bölümü">
                            <ul class="pagination  justify-content-center">
                                <li class="page-item"><a href="" class="page-link">&laquo;</a></li>
                                <li class="page-item"><a href="" class="page-link">&lsaquo;</a></li>
                                <li class="page-item disabled"><a href="" class="page-link">1</a></li>
                                <li class="page-item active"><a href="" class="page-link">2</a></li>
                                <li class="page-item"><a href="" class="page-link">3</a></li>
                                <li class="page-item"><a href="" class="page-link">&rsaquo;</a></li>
                                <li class="page-item"><a href="" class="page-link">&raquo;</a></li>
                            </ul>

                        </nav>
                    </div>
                </div>
            </div>
        </div>

        @section Styles {
            <style>
                td img {
                    max-height: 100px !important;
                }

                .page-link {
                    padding: 10px 25px !important;
                }

                .page-item.active a.page-link {
                    color: white !important;
                }

                .btn-sm {
                    margin: 5px !important;
                }

                .inputheight {
                    height: 45px !important;
                }
            </style>
        }